@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

a.active hr{
    display: block;
}

*{
    font-family: 'Roboto Condensed';
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
@media (max-width:640px) {
    a.active{
        background-color: black;
        color:white;
    }
}